In [17]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("../data/sales_data.csv")
print("âœ… Dataset loaded. Shape:", df.shape)

âœ… Dataset loaded. Shape: (505, 8)

In [18]:
# View initial structure
df.head()

,ORDERNUMBER,SALES,ORDERDATE,PRODUCTLINE,COUNTRY,QUANTITYORDERED,CUSTOMERNAME,STATUS
0,10001,35766.90,2023-09-28,Chassis Components,UK,23,Arys Garage Pvt. Ltd.,In Process
1,10002,87446.46,2024-02-13,Trailers,USA,81,DriveTech Distributors,Cancelled
2,10003,77393.67,2023-07-13,Trailers,Canada,90,FleetX Logistics Ltd.,In Process
3,10004,74597.29,2022-11-03,Transmission Units,Germany,17,MaxMove Transport,In Process
4,10005,65629.44,2023-08-09,Transmission Units,Australia,4,AutoNation Dealers,Cancelled

In [19]:
# Confirm available columns
print("Columns:", df.columns.tolist())

Columns: ['ORDERNUMBER', 'SALES', 'ORDERDATE', 'PRODUCTLINE', 'COUNTRY', 'QUANTITYORDERED', 'CUSTOMERNAME', 'STATUS']

In [20]:
# Check for missing values
print("\nMissing Values:\n", df.isnull().sum())

# Drop missing values (if any)
df.dropna(inplace=True)

# Drop duplicate rows
df.drop_duplicates(inplace=True)

print("âœ… Cleaned nulls and duplicates. New shape:", df.shape)

Missing Values:
 ORDERNUMBER         0
SALES              11
ORDERDATE           0
PRODUCTLINE         0
COUNTRY             0
QUANTITYORDERED     0
CUSTOMERNAME       10
STATUS             10
dtype: int64
âœ… Cleaned nulls and duplicates. New shape: (471, 8)

In [21]:
# Strip spaces, fix casing
df['PRODUCTLINE'] = df['PRODUCTLINE'].str.strip().str.lower()
df['STATUS'] = df['STATUS'].str.strip().str.title()
df['COUNTRY'] = df['COUNTRY'].str.strip().str.title()

In [22]:
# Convert ORDERDATE to datetime
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

# Extract date parts
df['YEAR'] = df['ORDERDATE'].dt.year
df['MONTH'] = df['ORDERDATE'].dt.month
df['QUARTER'] = df['ORDERDATE'].dt.quarter

In [23]:
# Save cleaned data
df.to_csv("../data/sales_data_cleaned.csv", index=False)
print("âœ… Cleaned dataset saved to: data/sales_data_cleaned.csv")

âœ… Cleaned dataset saved to: data/sales_data_cleaned.csv

In [24]:
# Quick numerical stats
print("\nðŸ§¾ Sample Stats:")
print(df[['SALES', 'QUANTITYORDERED']].describe())

ðŸ§¾ Sample Stats:
              SALES  QUANTITYORDERED
count    471.000000       471.000000
mean   53271.574352        50.543524
std    27332.566208        28.688083
min     5105.590000         1.000000
25%    29651.135000        25.500000
50%    54779.150000        51.000000
75%    77049.825000        75.000000
max    99669.040000        99.000000